.navbar{
    width:23vw;
    height:100vh;
    position: fixed;
    /* border:2px solid red; */
    background-color: rgb(94, 60, 229);
    display: flex;
    flex-direction: column;
    color:white;
}
.component-1{
    border:2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width:15vw;
    margin-bottom: 10px;;
    color:white;
}
.Cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap:0px; */
}
.rate-1{
 color:red;
 font-weight: bold;
}

.component-1{
    background-color: rgb(94, 60, 229);
}
.component-1:hover{
    /* transform: scale(1.5); */
    border: 2px solid red;
}

img{
    width:50px;
    height:30px;
    /* background-color: white; */
}
.Navbar-heading{
    display: flex;
    /* border:2px solid red; */
    align-items: center;
    /* padding:20px; */
    padding-left:5px;
}
.Navbar-heading h1{
    margin-left: 10px;
}
.Navbar-heading img{
    margin-left:20px;
}
.arrow-image{
    width:20px;
    height:30px;
}
.manager-container img{
    border-radius:50%;
    /* width:50%; */
}
.manager-container{
    width:20vw;
    /* border:2px solid red; */
    display: flex;
    height:8vh;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px whitesmoke ;
    margin:auto;
}
.manager-name-container h4{
    color:white;
    /* margin:none; */
    margin-top: 3px;
   
    /* border:2px solid red; */
  
    
}
.manager-name-container{
    width:10vw;
    /* border:2px solid greenyellow; */
    height:10vh;
    display: flex;
    flex-direction: column;
    gap:0px;
    align-items: center;
    /* border-radius: 5px; */

}
.manager-name-container p{
    /* border:2px solid red; */
    gap:0px;
    margin-top: -20px;
}
.manager-container img{
    margin-left: 20px;
}
.wishing-first-container{
    display: flex;
    justify-content: space-around;
    /* border:2px solid red; */
    align-items: center;
}
.input-div{
    width:20vw;
    height:5vh;
    border:2px solid black;
    padding:5px;
    display: flex;
    align-items: center;
}
.input-div img{
    width:50px;
    height:20px;

}
.input-div input{
    width:15vw;
    height: auto;
    height: 5vh;
    outline: none;
    border: none;
}
.cards{
    width:16vw;
    height:30vh;
    /* border: 2px solid red; */
    margin: 10px;
    display: flex;
    align-items: center;
}
.Right-container{
    width:80vw;
    margin-left: 23vw;
}
.total-container{
    display: flex;
}
.cards{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 0px 2px whitesmoke;
  
    /* margin:0px; */
}
.card-description{
    display: flex;
    flex-direction: column;
    padding: -20px;
    margin-left:-20px;
    /* border: 2px solid red; */
    align-items: center;
    width:fit-content;
    height:fit-content;
    margin-top: 10px;
   
}
.card-heading{
    width:fit-content;
    height:fit-content;
    /* border: 2px solid red; */
}
.card-description-1{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    height: 4vh;
    
}
.cards-image{
    width:6vw;
    height:12vh;
    border-radius: 50%;
    background-color: rgb(160, 239, 160);
    display: flex;
    align-items: center;
    margin-left:10px;

}
.cards-image img{
    color:rgb(193, 238, 193);
    margin: auto;
    margin:1vw;
    /* border:2px solid red; */
}
.rate{
    color: green;
    font-weight: bold;
}
.hello{
    background-color: rgb(189, 116, 179);
}
.bar-chart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
    width: 100%;
    margin: 20px auto;
    /* border: 1px solid #ccc; */
    /* padding-right:10px; */
  }
  
  .bar {
    /* flex: 1; */
    background-color:rgb(193, 202, 205);
    text-align: center;
    color: white;
    font-weight: bold;
    margin-right: 4px;
    border-radius: 5px;
    width:30px;
    padding:10px;
  }
  
  .x-axis {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
  }
  
  .x-axis-label {
    flex: 1;
    text-align: center;
    font-weight: bold;
  }
  .bar.highlight {
    background-color: blueviolet; /* Change the background color for the highlighted bar */
  }
  .overview-first{
    display: flex; 
    justify-content: space-between;
    height:40px;
    /* width:80 */
    /* border:2px solid blue; */
    align-items: center;
    margin-left:10px;
    margin-right:20px;
    
  }
   .select{
    height:30px;
  }
  .barchar-div{
    border:0.5px solid black;
    justify-content: flex;
    flex-direction: column;
    width:80%;
    /* height:40%; */
    margin-left: 10px;
    padding: 20px 10px;
    box-shadow: 0px 0px 2px 5px whitesmoke;
   
  }
  .App-div{
    display: flex;
  }
  .pie-chart-container {
    text-align: center;
    padding: 20px;
  }
  
  .pie-chart {
    position: relative;
    width:200px;
  }
  
  .chart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #333; /* Adjust the color as needed */
  }
  
.table-search-div{
    width:200px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding-left:10px ;
    margin-right: 50px;
    /* height:50px; */
}
.table-search-div img{
    width:20px;
    height:20px;
    margin-right: 10px;
}
.table-search-div input{
    width:200px;
    height:30px;
    outline: none;
    border: none;

}
.table-search{
    /* border:2px solid red; */
    width:40vw;
    display: flex;
    /* justify-content: space-between; */

}
.table-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.table-image{
    width:70px;
    height:50px;
    border-radius: 5px;

}
.table-product-description{
    display: flex;
    flex-direction: column;
    width:300px;
    height:70px;
    /* border:2px solid red; */
    gap:0px;
    /* justify-content: flex-start; */
    margin-left: 20px;

}
.table-product-description p{
    /* border:2px solid black; */
    margin-bottom: -10px;
}
.table-product-div{
    display: flex;
    flex-direction: row;
    width:500px;
    align-items: center;
}
td{
    text-align: center;
}
table,thead{
    /* border:2px solid black; */
    box-shadow: 0px 0px  2px 2px whitesmoke;
}
.stock{
    width:150px;

}
table{
    width:90%;
    margin: auto;
}
thead{
    height:50px;
}
.ProductSell-div{
    width:100%;
    /* border: 2px solid white; */
    padding-bottom: 20px;
    box-shadow: 0px 0px 2px 2px whitesmoke ;
    margin-left: 10px;

}
.doughnut-chart-container {
    text-align: center;
    padding: 20px;
  }
  
  .doughnut-chart {
    position: relative;
  }
  
  .chart-center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #333; /* Adjust the color as needed */
  }
  